<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaee02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.zgq.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resource</display-name>
    <servlet-name>Resource</servlet-name>
    <servlet-class>com.zgq.servlet.Resource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resource</servlet-name>
    <url-pattern>/Resource.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>checkFilter</display-name>
    <filter-name>checkFilter</filter-name>
    <filter-class>com.zgq.filter.checkFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Charge</display-name>
    <servlet-name>Charge</servlet-name>
    <servlet-class>com.zgq.servlet.Charge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charge</servlet-name>
    <url-pattern>/Charge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeRule</display-name>
    <servlet-name>ChargeRule</servlet-name>
    <servlet-class>com.zgq.servlet.ChargeRule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeRule</servlet-name>
    <url-pattern>/ChargeRule.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer1</display-name>
    <servlet-name>Customer1</servlet-name>
    <servlet-class>com.zgq.servlet.Customer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer1</servlet-name>
    <url-pattern>/Customer1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer2</display-name>
    <servlet-name>Customer2</servlet-name>
    <servlet-class>com.zgq.servlet.Customer2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer2</servlet-name>
    <url-pattern>/Customer2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer3</display-name>
    <servlet-name>Customer3</servlet-name>
    <servlet-class>com.zgq.servlet.Customer3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer3</servlet-name>
    <url-pattern>/Customer3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumber</display-name>
    <servlet-name>PhoneNumber</servlet-name>
    <servlet-class>com.zgq.servlet.PhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumber</servlet-name>
    <url-pattern>/PhoneNumber.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumberOne</display-name>
    <servlet-name>PhoneNumberOne</servlet-name>
    <servlet-class>com.zgq.servlet.PhoneNumberOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumberOne</servlet-name>
    <url-pattern>/PhoneNumberOne.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeRuleAdd</display-name>
    <servlet-name>ChargeRuleAdd</servlet-name>
    <servlet-class>com.zgq.servlet.ChargeRuleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeRuleAdd</servlet-name>
    <url-pattern>/ChargeRuleAdd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeAdd</display-name>
    <servlet-name>ChargeAdd</servlet-name>
    <servlet-class>com.zgq.servlet.ChargeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeAdd</servlet-name>
    <url-pattern>/ChargeAdd.do</url-pattern>
  </servlet-mapping>
</web-app>